<div class="modal fade" id="confirm-tag-modal" tabindex="-1" role="dialog" aria-labelledby="confirm tag">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Add Tag</h4>
      </div>
      <div class="modal-body">
        <p class="lead text-center">Please make sure that the tags are related to this category and have correct spellings</p>
        <br>
        <div class="tag-display">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="create_tag()">Continue</button>
      </div>
    </div>
  </div>
</div>
