<iframe id="ytplayer" type="text/html" width="600" height="400"
        src="https://www.youtube.com/embed/<%= review_id %>"
        frameborder="0">
</iframe>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#youtube-videos">
  Use another video
</button>

