<h2 class="text-center">Manage Tags</h2>
<br>

<% if params[:category_id].present? %>
<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <h3>Showing Tags for category - <%= params[:category].to_s %></h3>
  </div>
</div>
<% end %>

