#review_description {
  height: 200px !important;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

#sticker {
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 999;
}