#review_description {
  height: 200px !important;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.form-saved-animation {
  position: fixed;
  top: 50px !important;
  right: 20px;
  z-index: 150;
}